.footer {
	background-color: #eee;
	color: #000;
	text-align: center;
	padding: 80px 0;
	
	@media (max-width: 767.98px) {
		padding: 48px 0;
	}
		
	ul {
		list-style: none;
		padding: 0;
		margin-bottom: 32px;
		cursor: default;
		
		li {
			display: inline-block;
					
			+ li {
				margin-left: 40px;
				
				@media (max-width: 767.98px) {
					margin-left: 32px;
				}
			}
		}
	
		a {
			color: #000;
			transition: opacity 250ms;
		
			&:hover {
				opacity: 0.6;
			}
		}
		
		.fa {
			font-size: 28px;
			vertical-align: middle;
			
			@media (max-width: 767.98px) {
				font-size: 24px;
			}
		}
	}
}