a {
	font-size: 18px;
	color: #222;
	font-weight: 500;
	text-decoration: none;
	
	@media (max-width: 991.98px) {
		font-size: 16px;
	}
}

.link {
	display: inline-block;
	padding-right: 8px;

	&::after {
		font-family: "FontAwesome";
		content: "\f105";
		position: relative;
		left: 8px;
		transition: left .15s;
	}
	
	&:hover::after {
		left: 14px;
	}
}

.back {
	display: inline-block;
	padding-left: 8px;

	&::before {
		font-family: "FontAwesome";
		content: "\f104";
		position: relative;
		right: 8px;
		transition: right .15s;
	}
	
	&:hover::before {
		right: 14px;
	}
	
	@media (max-width: 991.98px) {
		font-size: 16px;
	}
}