.section {
	padding: 104px 0 56px;
	
	@media (max-width: 767.98px) {
		padding: 56px 0 32px;
	}
	
	[class*="col-"] {
		margin-bottom: 48px;
		
		@media (max-width: 767.98px) {
			margin-bottom: 24px;
		}
	}
	
	p {
		font-size: 20px;
		font-weight: 500;
		
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
	}
	
	img {
		box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10);
	}
	
	a {
		&:hover img {
			transform: scale(1.05);
		}
		
		img {
			border-radius: 8px;
			transition: transform 250ms;
			
			@media (max-width: 767.98px) {
				border-radius: 4px;
			}
		}
	}
	
	article {
		margin-bottom: 56px;
		
		@media (max-width: 767.98px) {
			margin-bottom: 32px;
		}
		
		ul {
			margin: 32px 0;
			
			&:last-child {
				margin-bottom: 8px;
				
				@media (max-width: 767.98px) {
					margin-bottom: 24px;
				}
			}
		}
	
		a {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 8px;
			
			@media (max-width: 767.98px) {
				margin-bottom: 24px;
			}
		}
	}
	
	footer {
		text-align: center;
		padding-bottom: 48px;
		
		@media (max-width: 767.98px) {
			padding-bottom: 24px;
		}
	}
}