/* !Général */
html,body {
	margin:0;
	height:100%;
	font-family:'Poppins',sans-serif;
	color:#222;
	line-height:1.5;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

h1 {
	font-size:48px;
	font-weight:700;
	margin:0 0 20px;
}

h2 {
	font-size:36px;
	font-weight:700;
	margin:0 0 40px;
}

h3 {
	font-size:24px;
	font-weight:600;
	margin:20px 0 40px;
}

h4 {
	font-size:20px;
	font-weight:500;
	margin:0 0 5px;
}

p {
	font-size:18px;
	margin:0 0 20px;
}

/* !Header */
header {
	padding:0 40px;
	position:fixed;
	z-index:1;
	width:100%;
	box-sizing:border-box;
}

header a {
	line-height:80px;
	font-size:18px;
	font-weight:500;
	text-decoration:none;
	color:#fff;
	-webkit-transition:line-height 1s;
	-moz-transition:line-height 1s;
	-o-transition:line-height 1s;
	transition:line-height 1s;
}

header nav {
	float:right;
	margin:0 -20px;
	cursor:default;
}

header nav a {
	margin:0 20px;
}

header.menu-texte a {
	color:#fff;
}

header.menu-texte #hamburger span {
	background:#fff;
}

header.menu-rectangle {
	background-color:#fff;
	border-bottom:1px solid #eee;
}

header.menu-rectangle a {
	color:#222;
	line-height:60px;
	-webkit-transition:line-height 1s;
	-moz-transition:line-height 1s;
	-o-transition:line-height 1s;
	transition:line-height 1s;
}

header #menu-mobile {
	display:none;
}

header #hamburger {
	width:60px;
	height:45px;
	right:-20px;
	position:relative;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	transform:scale(0.3);
	cursor:pointer;
	float:right;
	display:none;
}

header #hamburger span {
	display:block;
	position:absolute;
	height:7px;
	width:100%;
	background:#fff;
	opacity:1;
	left:0;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-o-transition:.25s ease-in-out;
	transition:.25s ease-in-out;
}

header.menu-rectangle #hamburger span {
	background:#222;
}

header #hamburger span:nth-child(1) {
	top:0;
	-webkit-transform-origin:left center;
	-moz-transform-origin:left center;
	-o-transform-origin:left center;
	transform-origin:left center;
}

header #hamburger span:nth-child(2) {
	top:18px;
	-webkit-transform-origin:left center;
	-moz-transform-origin:left center;
	-o-transform-origin:left center;
	transform-origin:left center;
}

header #hamburger span:nth-child(3) {
	top:36px;
	-webkit-transform-origin:left center;
	-moz-transform-origin:left center;
	-o-transform-origin:left center;
	transform-origin:left center;
}

header #hamburger.ouvert span:nth-child(1) {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	top:-3px;
	left:8px;
}

header #hamburger.ouvert span:nth-child(2) {
	width:0;
	opacity:0;
}

header #hamburger.ouvert span:nth-child(3) {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	top:39px;
	left:8px;
}

header.rectangle-deroulant a {
	color:#222;
}

header.rectangle-deroulant #hamburger span {
	background:#222;
}

header.rectangle-deroulant {
	background-color:#fff;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
}

header.menu-visible {
	opacity:1;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s;
}

header.menu-invisible {
	opacity:0;
	cursor:default;
	pointer-events:none;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s;
}

/* !Sections */
section#thomas {
	width:100%;
	height:100%;
	overflow:hidden;
	color:#fff;
	background-color:#31185a;
}

section#thomas #intro {
	position:relative;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

section#thomas #intro img {
	width:180px;
	border-radius:100%;
	margin-right:40px;
	float:left;
}

section#thomas #intro p {
	font-size:24px;
	font-weight:500;
	margin-bottom:24px;
}

section#thomas #intro a {
	color:#fff;
	font-size:20px;
	font-weight:500;
	text-decoration:none;
}

section#thomas #intro .fa {
	position:relative;
	left:7.5px;
	-webkit-transition:left .15s;
	-moz-transition:left .15s;
	-o-transition:left .15s;
	transition:left .15s;
}

section#thomas #intro a:hover > .fa {
	left:15px;
}

section#realisations {
	text-align:center;
	padding-top:90px;
	margin-bottom:-40px;
}

section#realisations img {
	display:block;
	width:100%;
	margin-bottom:40px;
	border-radius:4px;
	cursor:pointer;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
}

section#realisations img:hover {
	box-shadow:0 45px 100px rgba(14,21,47,0.2),0 16px 40px rgba(14,21,47,0.2);
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

section#parcours {
	padding-top:90px;
	margin-bottom:-40px;
}

section#parcours article {
	margin-bottom:30px;
}

section#parcours img {
	width:50px;
	margin-right:20px;
	float:left;
}

section#parcours .date {
	font-weight:500;
	color:#444;
	margin-bottom:10px;
}

section#parcours #experience h5,section#parcours #formation h4 {
	font-size:16px;
	font-weight:600;
	text-transform:uppercase;
	margin:0;
}

section#parcours .description {
	overflow:hidden;
	margin-bottom:20px;
}

section#plus {
	background-color:#eee;
}

/* !Footer */
footer {
	background-color:#eee;
	color:#000;
	text-align:center;
	padding:90px 0 70px;
	margin-top:90px;
}

footer #contact {
	margin:60px -20px 30px;
	cursor:default;
}

footer a {
	color:#000;
}

footer .fa {
	font-size:28px;
	vertical-align:middle;
	margin:0 20px;
}

/* !Media queries */
@media (max-width: 1199px) {
	h1 {
		font-size:42px;
	}
	
	section#thomas #intro img {
		width:170px;
	}
}

@media (max-width:991px) {
	h2 {
		font-size:26px;
	}
	
	h3 {
		font-size:22px;
	}
	
	h4 {
		font-size:18px;
	}
	
	p {
		font-size:16px;
	}
	
	header {
		padding:7.5px 15px;
	}
	
	header nav {
		display:none;
		float:none;
		position:relative;
	}
	
	header a {
		line-height:45px;
	}
	
	header nav a {
		display:block;
	}
	
	header.menu-rectangle a {
		line-height:45px;
	}
	
	header #hamburger {
		display:block;
	}
	
	section#thomas #intro img {
		width:160px;
	}
	
	section#thomas #intro p {
		font-size:20px;
	}
	
	section#thomas #intro a {
		font-size:18px;
	}
	
	section#thomas #intro .fa {
		left:6.25px;
	}
	
	section#thomas #intro a:hover > .fa {
		left:12.5px;
	}
	
	section#parcours img {
		width:40px;
	}
	
	footer #contact {
		margin:60px -10px 20px;
	}
	
	footer .fa {
		font-size:24px;
		margin:0 10px;
	}
}

@media (max-width:767px) {
	h1 {
		font-size:36px;
	}
	
	h2 {
		margin-bottom: 30px;
	}
	
	h3 {
		margin: 10px 0 30px;
	}
	
	section#thomas #intro {
		text-align:center;
	}
	
	section#thomas #intro img {
		width:130px;
		float:none;
		margin:0 0 20px;
	}
	
	section#realisations {
		padding-top:60px;
		margin-bottom:-20px;
	}
	
	section#realisations img {
		margin-bottom:20px;
	}
	
	section#parcours {
		padding-top:60px;
		margin-bottom:-40px;
	}
	
	section#parcours .description {
		margin-bottom:10px;
	}
	
	footer {
		padding:60px 0 40px;
		margin-top:60px;
	}
}

@media (max-width:575px) {
	h1 {
		font-size:30px;
	}
}