/* !Général */
html,body {
	margin:0;
	height:100%;
	font-family:'Poppins',sans-serif;
	color:#222;
	line-height:1.4;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

h1 {
	font-size:48px;
	font-weight:700;
	margin:0 0 20px;
}

h2 {
	font-size:30px;
	font-weight:700;
	margin:0 0 30px;
}

h3 {
	font-size:24px;
	font-weight:600;
	margin:0 0 30px;
}

h4 {
	font-size:20px;
	font-weight:500;
	margin:0 0 5px;
}

p {
	font-size:18px;
	margin:0 0 20px;
}

.container {
	max-width:960px;
	margin:0 auto;
	padding:60px 40px;
	box-sizing:border-box;
}

.row {
	margin:0 -20px;
}

.container:after,.row:after {
	content:"";
	display:table;
	clear:both;
}

.col-6 {
	position:relative;
	float:left;
	box-sizing:border-box;
	width:50%;
	padding:0 20px;
}

.col-4 {
	position:relative;
	float:left;
	box-sizing:border-box;
	width:33.333333%;
	padding:0 20px;
}

/* !Header */
header {
	position:fixed;
	z-index:1;
	width:100%;
	box-sizing:border-box;
}

header .container {
	padding:0 40px;
	max-width:none;
}

header a {
	line-height:80px;
	font-size:18px;
	font-weight:500;
	text-decoration:none;
	color:#fff;
	-webkit-transition:line-height 1s;
	-moz-transition:line-height 1s;
	-o-transition:line-height 1s;
	transition:line-height 1s;
}

header nav {
	float:right;
	margin:0 -20px;
	cursor:default;
}

header nav a {
	margin:0 20px;
}

header.menu-texte a {
	color:#fff;
}

header.menu-texte #hamburger span {
	background:#fff;
}

header.menu-rectangle {
	background-color:#fff;
	border-bottom:1px solid #eee;
}

header.menu-rectangle a {
	color:#222;
	line-height:60px;
	-webkit-transition:line-height 1s;
	-moz-transition:line-height 1s;
	-o-transition:line-height 1s;
	transition:line-height 1s;
}

header #menu-mobile {
	display:none;
}

header #hamburger {
	width:60px;
	height:45px;
	right:-20px;
	position:relative;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	transform:scale(0.3);
	cursor:pointer;
	float:right;
	display:none;
}

header #hamburger span {
	display:block;
	position:absolute;
	height:7px;
	width:100%;
	background:#fff;
	opacity:1;
	left:0;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-o-transition:.25s ease-in-out;
	transition:.25s ease-in-out;
}

header.menu-rectangle #hamburger span {
	background:#222;
}

header #hamburger span:nth-child(1) {
	top:0;
	-webkit-transform-origin:left center;
	-moz-transform-origin:left center;
	-o-transform-origin:left center;
	transform-origin:left center;
}

header #hamburger span:nth-child(2) {
	top:18px;
	-webkit-transform-origin:left center;
	-moz-transform-origin:left center;
	-o-transform-origin:left center;
	transform-origin:left center;
}

header #hamburger span:nth-child(3) {
	top:36px;
	-webkit-transform-origin:left center;
	-moz-transform-origin:left center;
	-o-transform-origin:left center;
	transform-origin:left center;
}

header #hamburger.ouvert span:nth-child(1) {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	top:-3px;
	left:8px;
}

header #hamburger.ouvert span:nth-child(2) {
	width:0;
	opacity:0;
}

header #hamburger.ouvert span:nth-child(3) {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	top:39px;
	left:8px;
}

header.rectangle-deroulant a {
	color:#222;
}

header.rectangle-deroulant #hamburger span {
	background:#222;
}

header.rectangle-deroulant {
	background-color:#fff;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
}

header.menu-visible {
	opacity:1;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s;
}

header.menu-invisible {
	opacity:0;
	cursor:default;
	pointer-events:none;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s;
}

/* !Vidéo */
.video-modal,.video-modal .overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:100;
}

.video-modal video {
	max-width:100%;
	max-height:100%;
	height:auto;
}

.video-modal {
	max-width:100%;
	overflow:hidden;
	position:fixed;
	opacity:0;
	-webkit-transform:translate(500%,0%);
	transform:translate(500%,0%);
}

.video-modal .overlay {
	z-index:0;
	background-color:#000;
}

.video-modal .container {
	position:relative;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	z-index:1;
	width:100%;
	max-height:100%;
	padding-top:0;
	padding-bottom:0;
	margin:0 auto;
}

.close-video-modal {
	position:absolute;
	top:-30px;
	text-decoration:none;
	font-weight:500;
	color:#fff;
}

.close-video-modal .fa {
	position:relative;
	right:5px;
	-webkit-transition:right .15s;
	-moz-transition:right .15s;
	-o-transition:right .15s;
	transition:right .15s;
}

.close-video-modal:hover > .fa {
	right:10px;
}

.show-video-modal .video-modal {
	opacity:1;
	transform:translate(0%,0%);
	-webkit-transform:translate(0%,0%);
}

.show-video-modal .video-modal .overlay {
	opacity:1;
}

/* !Sections */
section#thomas {
	width:100%;
	height:100%;
	overflow:hidden;
	color:#fff;
	background-color:#31185a;
}

section#thomas .container {
	position:relative;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

section#thomas img {
	width:180px;
	border-radius:100%;
	margin-right:40px;
	float:left;
}

section#thomas p {
	font-size:24px;
	font-weight:500;
	margin-bottom:24px;
}

section#thomas a {
	color:#fff;
	font-size:20px;
	font-weight:500;
	text-decoration:none;
}

section#thomas .fa {
	position:relative;
	left:7.5px;
	-webkit-transition:left .15s;
	-moz-transition:left .15s;
	-o-transition:left .15s;
	transition:left .15s;
}

section#thomas a:hover > .fa {
	left:15px;
}

section#parcours .container {
	padding-bottom:30px;
}

section#parcours article {
	margin-bottom:30px;
}

section#parcours img {
	width:50px;
	margin-right:20px;
	float:left;
}

section#parcours .date {
	font-weight:500;
	color:#444;
	margin-bottom:10px;
}

section#parcours #experience h5,section#parcours #formation h4 {
	font-size:16px;
	font-weight:600;
	text-transform:uppercase;
	margin:0;
}

section#parcours .description {
	overflow:hidden;
	margin-bottom:10px;
}

section#outils {
	background-color:#eee;
}

section#outils .container {
	padding-bottom:20px;
}

section#outils figure {
	float:left;
	text-align:center;
	margin:0;
	padding-bottom:40px;
	width:14.285714%;
	vertical-align:top;
}

section#outils figcaption {
	font-size:18px;
	color:#222;
}

section#outils img {
	width:60px;
	padding-bottom:20px;
}

section#realisations .container {
	padding-bottom:20px;
}

section#realisations .col-4 {
	padding-bottom:40px;
}

section#realisations img {
	display:block;
	width:100%;
	border-radius:4px;
	cursor:pointer;
	-webkit-transition:box-shadow .15s linear;
	-moz-transition:box-shadow .15s linear;
	-o-transition:box-shadow .15s linear;
	transition:box-shadow .15s linear;
}

section#realisations img:hover {
	box-shadow:0 45px 100px rgba(14,21,47,0.2),0 16px 40px rgba(14,21,47,0.2);
}

section#plus {
	background-color:#eee;
}

section#plus .container {
	padding-bottom:40px;
}

section#plus ul {
	list-style:none;
	padding-left:32px;
	text-indent:-32px;
}

section#plus p {
	margin-bottom:20px;
	font-size:20px;
}

section#plus li:before {
	font-family:"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
	font-size:20px;
	display:block;
	float:left;
	width:32px;
}

section#plus li:nth-child(1):before {
	content:"🎂";
}

section#plus li:nth-child(2):before {
	content:"💬";
}

section#plus li:nth-child(3):before {
	content:"🌍";
}

section#plus li:nth-child(4):before {
	content:"📷";
}

/* !Footer */
footer {
	background-color:#fff;
	color:#000;
	line-height:65px;
	padding-left:env(safe-area-inset-left);
	padding-right:env(safe-area-inset-right);
}

footer .container {
	padding:40px;
}

footer nav {
	float:right;
	margin:0 -20px;
	cursor:default;
}

footer a {
	color:#222;
}

footer .fa {
	font-size:28px;
	vertical-align:middle;
	margin:0 20px;
}

footer p {
	margin:0;
}

/* !Media queries */
@media (max-width:991px) {
	h1 {
		font-size:42px;
	}
	
	h2 {
		font-size:26px;
	}
	
	h3 {
		font-size:22px;
	}
	
	h4 {
		font-size:18px;
	}
	
	p {
		font-size:16px;
	}
	
	.container {
		max-width:720px;
		padding:40px 15px;
	}
	
	.row {
		margin:0 -7.5px;
	}
	
	.col-6 {
		width:100%;
		padding:0 7.5px;
	}
	
	.col-4 {
		padding:0 7.5px;
	}
	
	.col-6-mobile {
		width:50%;
	}
	
	header {
		padding-left:env(safe-area-inset-left);
		padding-right:env(safe-area-inset-right);
	}
	
	header .container {
		padding:7.5px 15px;
	}
	
	header nav {
		display:none;
		float:none;
		position:relative;
	}
	
	header a {
		line-height:45px;
	}
	
	header nav a {
		display:block;
	}
	
	header.menu-rectangle a {
		line-height:45px;
	}
	
	header #hamburger {
		display:block;
	}
	
	section#thomas img {
		width:160px;
	}
	
	section#thomas p {
		font-size:20px;
	}
	
	section#thomas a {
		font-size:18px;
	}
	
	section#thomas .fa {
		left:6.25px;
	}
	
	section#thomas a:hover > .fa {
		left:12.5px;
	}
	
	section#parcours {
		padding-left:env(safe-area-inset-left);
		padding-right:env(safe-area-inset-right);
	}
	
	section#parcours .container {
		padding-bottom:10px;
	}
	
	section#parcours img {
		width:40px;
	}
	
	section#outils {
		padding-left:env(safe-area-inset-left);
		padding-right:env(safe-area-inset-right);
	}
	
	section#outils .container {
		padding-bottom:10px;
	}
	
	section#outils figure {
		padding-bottom:30px;
		width:16.666667%;
	}
	
	section#outils figcaption {
		font-size:16px;
	}
	
	section#realisations {
		padding-left:env(safe-area-inset-left);
		padding-right:env(safe-area-inset-right);
	}
	
	section#realisations .container {
		padding-bottom:25px;
	}
	
	section#realisations .col-4 {
		padding-bottom:15px;
	}
	
	section#plus {
		padding-left:env(safe-area-inset-left);
		padding-right:env(safe-area-inset-right);
	}
	
	section#plus .container {
		padding-bottom:20px;
	}
	
	section#plus p {
		font-size:18px;
	}
	
	section#plus li:before {
		font-size:18px;
	}
	
	footer {
		line-height:45px;
	}
	
	footer .container {
		padding:30px 15px;
	}
	
	footer nav {
		margin:0 -10px;
	}
	
	footer .fa {
		font-size:24px;
		margin:0 10px;
	}
}

@media (max-width:767px) {
	h1 {
		font-size:36px;
	}
	
	.container {
		max-width:540px;
	}
	
	section#thomas {
		text-align:center;
	}
	
	section#thomas img {
		width:130px;
		float:none;
		margin:0 0 20px;
	}
	
	section#outils figure {
		width:25%;
	}
	
	section#outils img {
		width:55px;
		padding-bottom:10px;
	}
	
	footer {
		text-align:center;
	}
	
	footer nav {
		float:none;
	}
}

@media (max-width:575px) {
	h1 {
		font-size:30px;
	}
	
	section#outils figure {
		width:33.333333%;
	}
}