.video-modal,.video-modal .overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:300;
}

.video-modal {
	max-width:100%;
	overflow:hidden;
	position:fixed;
	opacity:0;
	-webkit-transform:translate(500%,0%);
	transform:translate(500%,0%);
	-webkit-transition:-webkit-transform 0 linear 0;
	transition:transform 0 linear 0;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	transform-style:preserve-3d;
	padding-left:constant(safe-area-inset-left);
	padding-right:constant(safe-area-inset-right);
}

.video-modal .overlay {
	z-index:0;
	background-color:#000;
}

.video-modal-content {
	position:relative;
	top:auto;
	right:auto;
	bottom:auto;
	left:auto;
	z-index:1;
	height:auto;
	width:calc(100% - 200px);
	max-width:1000px;
	max-height:calc(100% - 100px);
	margin:0 auto;
	overflow-y:visible;
}

.close-video-modal {
	display:block;
	position:absolute;
	left:0;
	top:-2em;
	text-decoration:none;
	font-weight:600;
	color:#fff;
}

.close-video-modal .fa {
	position: relative;
	right:5px;
	-webkit-transition:right .15s;
	-moz-transition:right .15s;
	-o-transition:right .15s;
	transition:right .15s;
}

.close-video-modal:hover > .fa {
	right:10px;
}

.video-sizer {
	display:block;
	width:100%;
	height:auto;
}

iframe#youtube {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	background:#000;
}

.show-video-modal .video-modal {
	opacity:1;
	transform:translate(0%,0%);
	-webkit-transform:translate(0%,0%);
}

.show-video-modal .video-modal .overlay {
	opacity:1;
}

.show-video-modal .video-modal-content {
	transform:translate(0%,0%);
	-webkit-transform:translate(0%,0%);
}

@media (max-width:840px) {
	.video-modal-content {
		width:calc(100% - 2em);
	}
}