---
title: Hudi
description: Site de la start-up Hudi.
layout: layouts/project.njk
---

<article>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Site de la start-up Hudi</h2>
      <p>Alternance chez Ultrō, 2018</p>
      <ul>
        <li>Kirby : développement web.</li>
      </ul>
      <a href="https://hudi.fr" target="_blank" class="link">Voir le site web</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <figure data-aos="fade-up">
        <img src="/images/hudi-1.jpg">
      </figure>
    </div>
  </div>
</article>
