.content {
  padding: 56px 0;

  @include min-width(lg) {
    padding: 104px 0;
  }

  figure {
    overflow: hidden;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  }

  a {
    display: block;

    &:hover figure {
      transform: scale(1.05);
    }

    figure {
      border-radius: 4px;
      transition: transform 0.2s ease;

      @include min-width(lg) {
        border-radius: 8px;
      }
    }
  }

  section {
    h2 + p {
      font-size: 18px;
      font-weight: 500;

      @include min-width(xl) {
        font-size: 20px;
      }
    }

    ul {
      margin-top: 32px;
    }

    a {
      display: inline-flex;
      margin-top: 32px;
    }

    &:nth-child(even) {
      margin-top: 48px;

      @include min-width(lg) {
        margin-top: 56px;
      }
    }

    &:nth-child(odd) {
      margin-top: 56px;

      @include min-width(lg) {
        margin-top: 104px;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  aside {
    margin-top: 56px;
    text-align: center;

    @include min-width(lg) {
      margin-top: 104px;
    }
  }

  &-404 {
    display: flex;
    align-items: center;
    text-align: center;

    h2 + p {
      margin-top: 24px;
    }
  }
}
