.content {
  padding: rem(56) 0;

  @include min-width(lg) {
    padding: rem(104) 0;
  }

  figure {
    overflow: hidden;
    box-shadow: 0 rem(10) rem(40) 0 rgba(0, 0, 0, 0.1);
  }

  a {
    &:hover,
    &:focus {
      figure {
        transform: scale(1.05);
      }
    }

    figure {
      border-radius: rem(4);
      transition: transform 0.2s ease;
      transform: translate(0);

      @include min-width(lg) {
        border-radius: rem(8);
      }
    }
  }

  section {
    h2 {
      margin: 0 0 rem(8);

      + p {
        font-size: rem(18);
        font-weight: 500;

        @include min-width(xl) {
          font-size: rem(20);
        }
      }
    }

    ul {
      margin-top: rem(32);
    }

    li + li {
      margin-top: rem(8);
    }

    a {
      margin-top: rem(32);
    }

    &:nth-child(even) {
      margin-top: rem(48);

      @include min-width(lg) {
        margin-top: rem(56);
      }
    }

    &:nth-child(odd) {
      margin-top: rem(56);

      @include min-width(lg) {
        margin-top: rem(104);
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  aside {
    margin-top: rem(56);
    text-align: center;

    @include min-width(lg) {
      margin-top: rem(104);
    }
  }

  &-404 {
    display: flex;
    align-items: center;
    text-align: center;

    h2 + p {
      margin-top: rem(24);
    }
  }
}
