.footer {
  padding: 48px 0;
  color: #000;
  text-align: center;
  background-color: #eee;

  @include media-breakpoint(lg) {
    padding: 80px 0;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 24px;
    list-style: none;

    @include media-breakpoint(lg) {
      margin-bottom: 32px;
    }

    li {
      line-height: 0;

      + li {
        margin-left: 24px;

        @include media-breakpoint(lg) {
          margin-left: 32px;
        }
      }
    }

    a {
      line-height: 0;
      color: #000;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.6;
      }

      .fa {
        width: 24px;
        font-size: 24px;

        @include media-breakpoint(lg) {
          width: 28px;
          font-size: 28px;
        }
      }

      span {
        display: inline-block;
        text-indent: -9999px;
        white-space: nowrap;
      }
    }
  }
}
