.grid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat($columns, 1fr);
  gap: rem(24);

  @include min-width(lg) {
    gap: rem(48);
  }

  @each $breakpoint in map-keys($breakpoints) {
    $suffix: if(map-get($breakpoints, $breakpoint) == 0, "", "-#{$breakpoint}");

    @include min-width($breakpoint) {
      @for $i from 1 through $columns {
        [data-column#{$suffix}="#{$i}"] {
          grid-column: auto / span $i;
        }
      }

      @for $i from 1 through ($columns - 1) {
        [data-start#{$suffix}="#{$i}"] {
          grid-column-start: $i;
        }
      }
    }
  }
}
