.header {
  padding: rem(56) 0;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: var(--dark-violet);

  @include min-width(lg) {
    padding: rem(120) 0;
  }

  .container {
    position: relative;
  }

  h1 {
    margin: rem(20) 0 0;
  }

  .link {
    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' /%3E%3C/svg%3E");
    }

    &-back::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z' /%3E%3C/svg%3E");
    }
  }

  &-home {
    padding: rem(104) 0;
    text-align: center;

    @include min-width(lg) {
      padding: rem(160) 0;
      text-align: left;
    }

    figure {
      justify-self: center;
      width: rem(130);
      overflow: hidden;
      border-radius: 50%;
      transform: translate(0);

      @include min-width(lg) {
        justify-self: end;
        width: rem(160);
      }

      @include min-width(xl) {
        width: rem(170);
      }
    }

    article {
      align-self: center;

      h1 {
        margin: 0 0 rem(20);
      }

      p {
        margin-bottom: rem(24);
        font-size: rem(22);
        font-weight: 500;

        @include min-width(lg) {
          margin-bottom: rem(20);
        }
      }
    }
  }
}
