.icon {
  display: block;
  line-height: 0;
  color: #000;
  transition: color 0.2s ease;

  svg {
    width: 24px;
    height: 24px;

    @include min-width(lg) {
      width: 28px;
      height: 28px;
    }
  }

  &-linkedin {
    &:hover,
    &:focus {
      color: #0073b1;
    }
  }

  &-twitter {
    &:hover,
    &:focus {
      color: #1da1f2;
    }
  }

  &-facebook {
    &:hover,
    &:focus {
      color: #1877f2;
    }
  }

  &-instagram {
    &:hover,
    &:focus {
      color: #b900b4;
    }
  }

  &-github {
    &:hover,
    &:focus {
      color: #0366d6;
    }
  }

  &-mail {
    &:hover,
    &:focus {
      color: #666;
    }
  }
}
