.icon {
  display: block;
  line-height: 0;
  color: black;
  transition: color 0.2s;

  svg {
    width: rem(24);
    height: rem(24);

    @include min-width(lg) {
      width: rem(28);
      height: rem(28);
    }
  }

  &-linkedin {
    --blue: #0073b1;

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }

  &-twitter {
    --blue: #1da1f2;

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }

  &-facebook {
    --blue: #1877f2;

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }

  &-instagram {
    --pink: #b900b4;

    &:hover,
    &:focus {
      color: var(--pink);
    }
  }

  &-github {
    --blue: #0366d6;

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }

  &-mail {
    &:hover,
    &:focus {
      color: var(--gray);
    }
  }
}
