.link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: rem(24);

  &::after {
    position: relative;
    left: 0;
    font-family: "icomoon" !important;
    font-size: rem(20);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    content: "\e901";
    transition: transform 0.15s;

    @include min-width(xl) {
      font-size: rem(24);
    }
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      transform: translateX(rem(4));
    }
  }

  &-back {
    flex-direction: row-reverse;

    &::after {
      content: "\e900";
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        transform: translateX(rem(-4));
      }
    }
  }
}
