a {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  text-decoration: none;

  @include media-breakpoint(xl) {
    font-size: 18px;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  padding-right: 8px;

  &::after {
    position: relative;
    left: 8px;
    font-family: "FontAwesome";
    content: "\f105";
    transition: left 0.15s;
  }

  &:hover::after {
    left: 14px;
  }

  &-back {
    padding-right: 0;
    padding-left: 8px;

    &::after {
      content: none;
    }

    &::before {
      position: relative;
      right: 8px;
      font-family: "FontAwesome";
      content: "\f104";
      transition: right 0.15s;
    }

    &:hover::before {
      right: 14px;
    }
  }
}
