.video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;

  .grid > div {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
  }

  video {
    width: 100%;
  }

  button {
    margin-bottom: 24px;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
