version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    commit-message:
      prefix: "⬆️"
    assignees:
      - "tomtuv"
    versioning-strategy: increase
    groups:
      npm-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "eslint"
        versions:
          - ">=10.0.0"
