.container {
  padding: 0 1.5rem;
  margin: 0 auto;

  @include min-width(sm) {
    padding: 0 2.5rem;
  }

  @each $breakpoint, $max-width in $max-widths {
    @include min-width($breakpoint) {
      max-width: $max-width;
    }
  }
}
