@use "../abstracts/variables" as *;

.content {
  padding-block: 3.5rem;

  @media (min-width: $lg) {
    padding-block: 6.5rem;
  }

  figure {
    box-shadow: 0 0.625rem 2.5rem 0 hsl(0, 0%, 0%, 0.1);
  }
}
