@use "../abstracts/variables" as *;

.footer {
  padding-block: 3rem;
  text-align: center;
  background-color: var(--light-gray);

  @media (min-width: $lg) {
    padding-block: 5rem;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 1.5rem;
    list-style: none;

    @media (min-width: $lg) {
      margin-bottom: 2rem;
    }

    li + li {
      margin: 0 0 0 1.5rem;

      @media (min-width: $lg) {
        margin-left: 2rem;
      }
    }
  }

  &-languages {
    a {
      font-weight: 500;

      @media (prefers-reduced-motion: no-preference) {
        transition: color 0.2s linear;
      }

      &:hover,
      &:focus,
      &:active {
        color: var(--gray);
      }

      &[aria-current="page"] {
        text-decoration: underline;
        text-decoration-thickness: 0.125rem;
        text-underline-offset: 0.35rem;
      }
    }
  }
}
