.footer {
  padding: 3rem 0;
  text-align: center;
  background-color: var(--light-gray);

  @include min-width(lg) {
    padding: 5rem 0;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1.5rem;
    list-style: none;

    @include min-width(lg) {
      margin-bottom: 2rem;
    }

    li + li {
      margin-left: 1.5rem;

      @include min-width(lg) {
        margin-left: 2rem;
      }
    }
  }

  &-languages {
    a {
      font-weight: 500;
      transition-timing-function: linear;
      transition-property: color, border-color;

      @media (prefers-reduced-motion: no-preference) {
        transition-duration: 0.2s;
      }

      &:hover,
      &:focus,
      &:active {
        color: var(--gray);
      }

      &[aria-current="page"] {
        border-bottom: 0.125rem solid;

        &:hover,
        &:focus,
        &:active {
          border-color: var(--gray);
        }
      }
    }
  }
}
