.footer {
  padding: 3rem 0;
  color: black;
  text-align: center;
  background-color: var(--light-gray);

  @include min-width(lg) {
    padding: 5rem 0;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1.5rem;
    list-style: none;

    @include min-width(lg) {
      margin-bottom: 2rem;
    }

    li + li {
      margin-left: 1.5rem;

      @include min-width(lg) {
        margin-left: 2rem;
      }
    }
  }

  &-languages {
    a {
      font-weight: 500;
      transition: color 0.2s, border-color 0.2s;

      &:hover,
      &:focus,
      &:active {
        color: var(--gray);
      }

      &.active {
        border-bottom: 0.125rem solid black;

        &:hover,
        &:focus,
        &:active {
          border-color: var(--gray);
        }
      }
    }
  }
}
