@use "../abstracts/variables" as *;

.header {
  padding-block: 3.5rem;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: var(--dark-violet);

  @media (min-width: $lg) {
    padding-block: 7.5rem;
  }

  .grid {
    position: relative;
  }

  h1 {
    margin: 1.25rem 0 0;
  }
}
