.header {
  padding: rem(56) 0;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: var(--dark-violet);

  @include min-width(lg) {
    padding: rem(120) 0;
  }

  .container {
    position: relative;
  }

  h1 {
    margin: rem(20) 0 0;
  }
}
