.header {
  padding: 3.5rem 0;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: var(--dark-violet);

  @include min-width(lg) {
    padding: 7.5rem 0;
  }

  .container {
    position: relative;
  }

  h1 {
    margin: 1.25rem 0 0;
  }
}
