.grid {
  --gap: 1.5rem;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gap);
  width: min(100% - var(--gap) * 2, 1040px);
  margin-inline: auto;

  @media (--viewport-sm) {
    --gap: 2.5rem;
  }

  @media (--viewport-lg) {
    --gap: 3rem;
  }

  & > * {
    --grid-column: span 12;

    grid-column: var(--grid-column);

    @media (--viewport-md) {
      --grid-column-md: var(--grid-column);

      grid-column: var(--grid-column-md);
    }

    @media (--viewport-lg) {
      --grid-column-lg: var(--grid-column-md);

      grid-column: var(--grid-column-lg);
    }
  }
}
