.page-home {
  .header {
    padding: 6.5rem 0;
    text-align: center;

    @include min-width(lg) {
      padding: 10rem 0;
      text-align: left;
    }

    .grid {
      row-gap: 2rem;
    }

    > .container {
      [data-column] {
        &:first-child {
          justify-self: center;

          @include min-width(lg) {
            justify-self: end;
          }
        }

        &:last-child {
          align-self: center;
        }
      }
    }

    figure {
      width: 8.125rem;
      overflow: hidden;
      border-radius: 50%;
      transform: translate(0);

      @include min-width(lg) {
        width: 10rem;
      }

      @include min-width(xl) {
        width: 10.625rem;
      }
    }

    h1 {
      margin: 0 0 1.25rem;
    }

    p {
      margin-bottom: 1.5rem;
      font-size: 1.375rem;
      font-weight: 500;

      @include min-width(lg) {
        margin-bottom: 1.25rem;
      }
    }
  }

  .content {
    a {
      &:hover,
      &:focus,
      &:active {
        figure {
          transform: scale(1.05);
        }
      }

      figure {
        overflow: hidden;
        border-radius: 0.25rem;
        transition: transform 0.2s;

        @include min-width(lg) {
          border-radius: 0.5rem;
        }
      }
    }
  }
}
