@use "../abstracts/variables" as *;

.home {
  .header {
    padding-block: 6.5rem;
    text-align: center;

    @media (min-width: $lg) {
      padding-block: 10rem;
      text-align: left;
    }

    .grid {
      row-gap: 2rem;

      > * {
        &:first-child {
          justify-self: center;

          @media (min-width: $lg) {
            justify-self: end;
          }
        }

        &:last-child {
          align-self: center;
        }
      }
    }

    figure {
      width: 130px;
      overflow: hidden;
      border-radius: 50%;

      @media (min-width: $lg) {
        width: 160px;
      }

      @media (min-width: $xl) {
        width: 170px;
      }
    }

    h1 {
      margin: 0 0 1.25rem;
    }

    p {
      margin-bottom: 1.5rem;
      font-size: 1.375rem;
      font-weight: 500;

      @media (min-width: $lg) {
        margin-bottom: 1.25rem;
      }
    }
  }

  .content {
    a {
      &:hover,
      &:focus,
      &:active {
        figure {
          transform: scale(1.05);
        }
      }
    }

    figure {
      will-change: transform;
      overflow: hidden;
      border-radius: 0.25rem;

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.2s linear;
      }

      @media (min-width: $lg) {
        border-radius: 0.5rem;
      }
    }
  }
}
