.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;

  & article {
    & header {
      margin-bottom: 2rem;

      & h2 {
        margin-bottom: 0.5rem;
      }

      & p {
        margin: 0;
        font-size: clamp(1.125rem, 1.0156rem + 0.3125vw, 1.25rem);
        font-weight: 500;
      }
    }

    & p + a {
      margin-top: 1rem;
    }
  }

  & section {
    &:nth-child(even) {
      margin-top: 3rem;

      @media (--viewport-lg) {
        margin-top: 3.5rem;
      }
    }

    &:nth-child(odd) {
      margin-top: 3.5rem;

      @media (--viewport-lg) {
        margin-top: 6.5rem;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & aside {
    margin-top: 3.5rem;
    text-align: center;

    @media (--viewport-lg) {
      margin-top: 6.5rem;
    }
  }
}
