@mixin min-width($breakpoint) {
  $breakpoint: map-get($breakpoints, $breakpoint);

  @if $breakpoint != 0 {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @content;
  }
}
