@layer components {
  .root {
    font-size: clamp(1.375rem, 1rem + 1.25vw, 2rem);
    line-height: 1.3;
    letter-spacing: -0.025em;

    p:not(:last-child) {
      margin-block-end: 0.25em;
    }
  }
}
