*,
* ::before,
* ::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", $font-family-sans-serif;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
}

p {
  margin: 0;
}

ul {
  padding-left: 20px;
  margin: 0;
}

h1 {
  margin: 0 0 24px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.25;

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h2 {
  margin: 0 0 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;

  @include media-breakpoint-down(md) {
    font-size: 22px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}
