.footer {
  padding: 48px 0;
  color: #000;
  text-align: center;
  background-color: #eee;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }

  ul {
    padding: 0;
    margin-bottom: 24px;
    list-style: none;
    cursor: default;

    @include media-breakpoint-up(lg) {
      margin-bottom: 32px;
    }

    li {
      display: inline-block;

      + li {
        margin-left: 24px;

        @include media-breakpoint-up(lg) {
          margin-left: 32px;
        }
      }
    }

    a {
      color: #000;
      transition: opacity 250ms;

      &:hover {
        opacity: 0.6;
      }

      .fa {
        font-size: 24px;
        vertical-align: middle;

        @include media-breakpoint-up(lg) {
          font-size: 28px;
        }
      }

      span {
        display: inline-block;
        text-indent: -9999px;
        white-space: nowrap;
      }
    }
  }
}
