.header {
  padding: 56px 0;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #31185a;

  @include media-breakpoint-up(lg) {
    padding: 120px 0;
  }

  a {
    color: #fff;

    + h1 {
      margin: 20px 0 0;
    }
  }

  figure {
    width: 130px;
    margin-bottom: 24px;

    @include media-breakpoint-up(lg) {
      width: 160px;
      margin: 0 40px 0 0;
    }

    @include media-breakpoint-up(xl) {
      width: 170px;
    }
  }

  img {
    border-radius: 100%;
  }

  p {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;

    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }
  }

  button {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
  }

  &-home {
    padding: 104px 0;
    text-align: center;

    @include media-breakpoint-up(lg) {
      padding: 160px 0;
      text-align: left;
    }
  }
}
