.video,
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.video {
  position: fixed;
  display: none;
  max-width: 100%;
  overflow: hidden;

  video {
    width: 100%;
  }

  .overlay {
    z-index: 0;
    background-color: #000;
  }

  .container {
    position: relative;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }

  .link-backward {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
