.video,
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.video {
  position: fixed;
  max-width: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;

  video {
    width: 100%;
  }

  .overlay {
    z-index: 0;
    background-color: #000;
  }

  .container {
    position: relative;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }

  button {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
