---
layout: layouts/base.njk
---

<header class="header header-home">
  {% include 'bubbles.njk' %}

  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <figure>
            <img src="/images/thomas.jpg" alt="Thomas Tuvignon">
          </figure>
          <div>
            <h1>Thomas Tuvignon</h1>
            <p>Intégrateur web</p>
            <button class="link-forward" data-open-modal>Voir le CV vidéo</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <button class="link-backward" data-close-modal>Retour</button>

          <video controls playsinline preload="none" poster="images/cv.jpg">
            <source src="videos/cv.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>

    <div class="overlay"></div>
  </div>
</header>

<main class="content">
  <div class="container">
    {{ content | safe }}
  </div>
</main>
