---
layout: layouts/base.njk
---

<header class="header">
  {% include 'bubbles.njk' %}

  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <a href="/" class="link-backward">Thomas Tuvignon</a>
        <h1>{{ renderData.title or title or metadata.title }}</h1>
      </div>
    </div>
  </div>
</header>

<main class="content">
  <div class="container">
    {{ content | safe }}

    <p><a href="/" class="link-backward">Retour</a></p>
  </div>
</main>
