@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    translate: 30px;
  }
}

@keyframes slide-to-left {
  to {
    translate: -30px;
  }
}

::view-transition-old(root) {
  @media (prefers-reduced-motion: no-preference) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
}

::view-transition-new(root) {
  @media (prefers-reduced-motion: no-preference) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }
}

:root {
  --color-mine-shaft: oklch(26% 0 0deg);
  --color-cod-gray: oklch(18% 0 0deg);
  --color-eerie-black: oklch(24% 0 0deg);
  --color-alabaster: oklch(98.5% 0 0deg);
  --color-white: oklch(100% 0 0deg);
  --color-text: var(--color-mine-shaft);
  --color-background: var(--color-white);
  --color-shadow: oklch(0% 0 0deg / 10%);
  --space-y: clamp(3.5rem, 1.7rem + 6vw, 6.5rem);
  --space-x: clamp(1rem, -0.2rem + 4vw, 3rem);
  --grid-columns-auto-fit: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  --grid-gap: clamp(1rem, 0.7rem + 1vw, 1.5rem);
  --shadow: 0 0.625rem 2.5rem var(--color-shadow);

  @media (prefers-color-scheme: dark) {
    --color-text: var(--color-white);
    --color-background: var(--color-mine-shaft);
    --color-shadow: oklch(0% 0 0deg / 20%);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  line-height: 1.5;
  color: var(--color-text);
  letter-spacing: -0.01em;
  background-color: var(--color-background);
  text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;

  @media (resolution >= 1.5dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1 {
  font-size: clamp(1.875rem, 1.5rem + 1.25vw, 2.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

h2 {
  font-size: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

img,
svg {
  display: block;
  block-size: auto;
}

img {
  inline-size: 100%;
}

:any-link {
  color: inherit;
  text-decoration: none;
}

[role="list"] {
  padding-inline-start: 0;
  list-style-type: none;
}
