.root {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  display: grid;
  align-items: center;
  padding: 0.75rem var(--space-x);
  font-size: 1rem;
  color: white;
  text-align: center;
  background-color: var(--color-mine-shaft);
  box-shadow: var(--shadow);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-cod-gray);
  }

  @media (width >= 64rem) {
    position: fixed;
    inset-block-start: 1.5rem;
    inset-inline-end: 1.5rem;
    padding-inline: 1.5rem;
    border-radius: 100vmax;
  }
}
