.root {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  display: grid;
  grid-area: alert;
  align-items: center;
  padding: 0.75rem var(--page-padding-x);
  font-size: 1rem;
  color: white;
  text-align: center;
  background-color: #242424;
  box-shadow: var(--shadow);

  @media (--color-scheme-dark) {
    background-color: #121212;
  }

  @media (--screen-lg) {
    position: fixed;
    inset-block-start: 1.5rem;
    inset-inline-end: 1.5rem;
    padding-inline: 1.5rem;
    border-radius: 100vmax;
  }
}
