.root {
  color: white;
  text-align: center;
  background-color: var(--dark-violet);
  box-shadow: inset 0 -1px lch(100% 0 139.088deg / 15%);

  & :global(.container) {
    align-items: center;
    min-height: 3rem;
    padding-block: 0.5rem;
  }

  & a {
    text-decoration: underline;
    text-underline-offset: 0.25rem;

    @media (--motion-enabled) {
      transition: text-decoration-color 0.15s linear;
    }

    &:hover,
    &:focus {
      text-decoration-color: transparent;
    }
  }
}
