.root {
  grid-area: footer;
  padding: clamp(3rem, 1.25rem + 5vw, 5rem) var(--page-padding-x);
  color: white;
  text-align: center;
  background-color: #242424;

  @media (--color-scheme-dark) {
    background-color: #121212;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 0 clamp(1.5rem, 1.063rem + 1.25vw, 2rem);
    list-style: none;
  }

  & li:not(:last-child) {
    margin: 0 clamp(1.5rem, 1.063rem + 1.25vw, 2rem) 0 0;
  }
}
