.root {
  grid-area: header;
  padding: clamp(3.5rem, 0.875rem + 7.5vw, 6.5rem) var(--page-padding-x);
  overflow: hidden;
  background-color: var(--gray);

  @media (--screen-lg) {
    position: sticky;
    inset-block-start: 0;
    block-size: 100vh;
    overflow-y: auto;
  }

  & h1 {
    margin: 0.5em 0;
  }

  & figure {
    border-radius: 50%;
    transform: translateZ(0);
    inline-size: clamp(8.125rem, 5.938rem + 6.25vw, 10.625rem);

    & + h1 {
      margin-block-start: 0.75em;
    }
  }

  & p {
    font-size: clamp(1.25rem, 1.1406rem + 0.3125vw, 1.375rem);
    font-weight: 500;
  }
}
