.root {
  overflow: hidden;
  box-shadow: var(--shadow);

  & img {
    background-color: white;

    @media (--motion-safe) {
      transition: filter 0.5s ease-in-out;
    }

    &[data-loading="true"] {
      filter: blur(20px);
    }
  }
}
