.root {
  overflow: hidden;
  box-shadow: var(--shadow);

  & img {
    @media (prefers-reduced-motion: no-preference) {
      transition: filter 0.5s ease-in-out;
    }

    &[data-loading="true"] {
      filter: blur(20px);
    }
  }
}
