.link {
  font-weight: 500;

  @media (--motion-safe) {
    transition: color 0.2s linear;
  }

  &:hover,
  &:focus {
    color: var(--gray);
  }

  &[aria-current="page"] {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.35rem;
  }
}
