.root {
  &[data-variant="page"] {
    & section {
      &:nth-child(even) {
        margin-block-start: clamp(3rem, 2.563rem + 1.25vw, 3.5rem);
      }

      &:nth-child(odd) {
        margin-block-start: clamp(3.5rem, 0.875rem + 7.5vw, 6.5rem);
      }

      &:first-child {
        margin-block-start: 0;
      }
    }
  }
}

.content {
  padding-block: clamp(3.5rem, 0.875rem + 7.5vw, 6.5rem);

  & figure {
    box-shadow: 0 0.625rem 2.5rem 0 lch(0% 0 0deg / 10%);
  }

  @nest [data-variant="home"] & {
    & figure {
      overflow: hidden;
      border-radius: clamp(0.25rem, 0.031rem + 0.63vw, 0.5rem);
      will-change: transform;

      @media (--motion-safe) {
        transition: transform 0.2s linear;
      }
    }

    & a {
      &:hover, &:focus {
        & figure {
          transform: scale(1.05);
        }
      }
    }
  }
}
