@layer components {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-right {
    from {
      translate: 30px;
    }
  }

  @keyframes slide-to-left {
    to {
      translate: -30px;
    }
  }

  ::view-transition-old(.slide-in) {
    @media (prefers-reduced-motion: no-preference) {
      animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
    }
  }

  ::view-transition-new(.slide-in) {
    @media (prefers-reduced-motion: no-preference) {
      animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
    }
  }

  .root {
    display: grid;
    grid-template-areas: "alert" "header" "content" "footer";

    @media (width >= 64rem) {
      grid-template: "header content" 1fr "header footer" auto / minmax(
          auto,
          30rem
        ) minmax(66.6667%, 1fr);
    }

    > aside {
      grid-area: alert;
    }

    > header {
      grid-area: header;
    }

    > footer {
      grid-area: footer;
    }
  }

  .content {
    grid-area: content;
    padding: var(--space-y) var(--space-x);

    @media (width >= 64rem) {
      padding-inline: max(var(--space-x), (100% - 50rem) / 2);
    }
  }
}
