.root {
  display: grid;
  grid-template-areas: "alert" "header" "content" "footer";

  @media (--screen-lg) {
    grid-template-areas:
      "header alert"
      "header content"
      "header footer";
    grid-template-columns: minmax(auto, 30rem) minmax(66.6667%, 1fr);
  }
}

.content {
  grid-area: content;
  padding: clamp(3.5rem, 0.875rem + 7.5vw, 6.5rem) var(--page-padding-x);

  & > * {
    @media (--screen-lg) {
      max-inline-size: 50rem;
      margin-inline: auto;
    }
  }
}
