.root {
  display: grid;
  grid-template-areas: "alert" "header" "content" "footer";

  @media (--screen-lg) {
    grid-template-areas:
      "header content"
      "header footer";
    grid-template-columns: minmax(auto, 30rem) minmax(66.6667%, 1fr);
  }
}

.content {
  grid-area: content;
  padding: var(--space-y) var(--space-x);

  @media (--screen-lg) {
    padding-inline: max(var(--space-x), (100% - 50rem) / 2);
  }
}
