@layer components {
  .root {
    &[data-underline] {
      --underline-offset: 0.1em;
      --underline-thickness: max(1px, 0.08em);

      padding-block: var(--underline-offset);
      background-image: linear-gradient(currentcolor, currentcolor);
      background-repeat: no-repeat;

      @media (prefers-reduced-motion: no-preference) {
        transition: background-size 0.3s ease-out;
      }
    }

    &[data-underline="true"] {
      background-position: bottom 0 right 100%;
      background-size: 100% var(--underline-thickness);

      &:is(:hover, :focus) {
        background-position: bottom 0 left 100%;
        background-size: 0 var(--underline-thickness);
      }
    }

    &[data-underline="hover"] {
      background-position: bottom 0 left 100%;
      background-size: 0 var(--underline-thickness);

      &:is(:hover, :focus, [aria-current="page"]) {
        background-position: bottom 0 right 100%;
        background-size: 100% var(--underline-thickness);
      }
    }
  }
}
