.root {
  display: flex;
  align-items: center;
  overflow: visible;
  background: none;
  opacity: var(--opacity);
  transition: opacity 0.5s linear;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background: hsl(0deg 0% 0% / 50%);
    opacity: var(--backdrop-opacity);
    backdrop-filter: blur(5px);
  }
}

.content {
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
  pointer-events: none;
  background: none;
}

.close,
.video {
  pointer-events: auto;
}

.close {
  position: fixed;
  inset: 1.5rem 1.5rem auto auto;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  color: white;
}

.video {
  aspect-ratio: 16 / 9;
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}
