.root {
  margin-block-start: var(--space-y);
}

.heading {
  margin-block-end: 1.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--grid-gap);

  @media (--screen-lg) {
    grid-template-columns: var(--grid-columns-auto-fit);
  }

  & a {
    &:hover,
    &:focus {
      & figure {
        transform: scale(1.05);
      }
    }
  }

  & figure {
    border-radius: clamp(0.25rem, 0.1rem + 0.5vw, 0.5rem);
    will-change: transform;

    @media (--motion-safe) {
      transition: transform 0.2s linear;
    }
  }
}
