.icon {
  @media (--motion-safe) {
    transition: color 0.2s linear;
  }

  & svg {
    display: block;
    inline-size: 1.5rem;
    block-size: 1.5rem;

    @media (--screen-lg) {
      inline-size: 1.75rem;
      block-size: 1.75rem;
    }
  }

  &[data-variant="linkedin"] {
    --blue: #0073b1;

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }

  &[data-variant="twitter"] {
    --blue: #1da1f2;

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }

  &[data-variant="facebook"] {
    --blue: #1877f2;

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }

  &[data-variant="instagram"] {
    --pink: #b900b4;

    &:hover,
    &:focus {
      color: var(--pink);
    }
  }

  &[data-variant="github"] {
    --blue: #0366d6;

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }

  &[data-variant="mail"] {
    &:hover,
    &:focus {
      color: var(--gray);
    }
  }
}
