.icon {
  display: block;

  @media (--motion-safe) {
    transition: opacity 0.15s linear;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  & svg {
    --size: clamp(1.5rem, 1.281rem + 0.63vw, 1.75rem);

    display: block;
    inline-size: var(--size);
    block-size: var(--size);
  }
}
