.bubbles {
  position: relative;
  z-index: 0;
  width: 540px;
  margin-inline: auto;

  [data-bubble-group] {
    position: absolute;
  }

  [data-bubble-group="1"] {
    z-index: 1;
  }

  [data-bubble-group="2"] {
    z-index: 2;
  }

  [data-bubble-group="3"] {
    z-index: 3;
  }

  [data-bubble-group="4"] {
    z-index: 4;
  }

  [data-bubble] {
    position: absolute;
    border-radius: 50%;
    opacity: 0.75;
  }

  [data-bubble="1"] {
    top: 20px;
    left: -200px;
    width: 125px;
    height: 125px;
    background-color: var(--violet);
  }

  [data-bubble="2"] {
    top: 200px;
    left: 720px;
    width: 125px;
    height: 125px;
    background-color: var(--yellow);
  }

  [data-bubble="3"] {
    top: 450px;
    left: -50px;
    width: 100px;
    height: 100px;
    background-color: var(--yellow);
  }

  [data-bubble="4"] {
    top: 200px;
    left: -450px;
    width: 125px;
    height: 125px;
    background-color: var(--blue);
  }

  [data-bubble="5"] {
    top: 100px;
    left: 480px;
    width: 100px;
    height: 100px;
    background-color: var(--yellow);
  }

  [data-bubble="6"] {
    top: 800px;
    left: 700px;
    width: 100px;
    height: 100px;
    background-color: var(--yellow);
  }

  [data-bubble="7"] {
    top: 650px;
    left: -100px;
    width: 100px;
    height: 100px;
    background-color: var(--orange);
  }

  [data-bubble="8"] {
    top: -20px;
    left: 800px;
    width: 125px;
    height: 125px;
    background-color: var(--blue);
  }

  [data-bubble="9"] {
    top: 1250px;
    left: -100px;
    width: 100px;
    height: 100px;
    background-color: var(--orange);
  }

  [data-bubble="10"] {
    top: 1350px;
    left: 450px;
    width: 125px;
    height: 125px;
    background-color: var(--blue);
  }

  [data-bubble="11"] {
    top: 750px;
    left: -600px;
    width: 150px;
    height: 150px;
    background-color: var(--yellow);
  }

  [data-bubble="12"] {
    top: 900px;
    left: 400px;
    width: 125px;
    height: 125px;
    background-color: var(--yellow);
  }

  [data-bubble="13"] {
    top: -80px;
    left: -350px;
    width: 75px;
    height: 75px;
    background-color: var(--blue);
  }

  [data-bubble="14"] {
    top: 800px;
    left: 220px;
    width: 150px;
    height: 150px;
    background-color: var(--blue);
  }

  [data-bubble="15"] {
    top: 100px;
    left: 70px;
    width: 125px;
    height: 125px;
    background-color: var(--blue);
  }

  [data-bubble="16"] {
    top: 250px;
    left: -360px;
    width: 100px;
    height: 100px;
    background-color: var(--violet);
  }

  [data-bubble="17"] {
    top: 500px;
    left: 700px;
    width: 75px;
    height: 75px;
    background-color: var(--green);
  }

  [data-bubble="18"] {
    top: 350px;
    left: 300px;
    width: 100px;
    height: 100px;
    background-color: var(--green);
  }

  [data-bubble="19"] {
    top: 600px;
    left: -400px;
    width: 75px;
    height: 75px;
    background-color: var(--yellow);
  }

  [data-bubble="20"] {
    top: 800px;
    left: -300px;
    width: 150px;
    height: 150px;
    background-color: var(--green);
  }

  [data-bubble="21"] {
    top: 1400px;
    left: -300px;
    width: 125px;
    height: 125px;
    background-color: var(--yellow);
  }

  [data-bubble="22"] {
    top: 1200px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: var(--green);
  }

  [data-bubble="23"] {
    top: 250px;
    left: 800px;
    width: 75px;
    height: 75px;
    background-color: var(--blue);
  }

  [data-bubble="24"] {
    top: 600px;
    left: 900px;
    width: 150px;
    height: 150px;
    background-color: var(--blue);
  }

  [data-bubble="25"] {
    top: 600px;
    left: 300px;
    width: 100px;
    height: 100px;
    background-color: var(--blue);
  }

  [data-bubble="26"] {
    top: 80px;
    left: 300px;
    width: 75px;
    height: 75px;
    background-color: var(--violet);
  }

  [data-bubble="27"] {
    top: 1000px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: var(--yellow);
  }

  [data-bubble="28"] {
    top: 1100px;
    left: 360px;
    width: 100px;
    height: 100px;
    background-color: var(--green);
  }

  [data-bubble="29"] {
    top: 750px;
    left: 480px;
    width: 125px;
    height: 125px;
    background-color: var(--orange);
  }

  [data-bubble="30"] {
    top: 500px;
    left: 500px;
    width: 75px;
    height: 75px;
    background-color: var(--orange);
  }

  [data-bubble="31"] {
    top: 700px;
    left: 150px;
    width: 125px;
    height: 125px;
    background-color: var(--violet);
  }

  [data-bubble="32"] {
    top: -110px;
    left: 300px;
    width: 75px;
    height: 75px;
    background-color: var(--orange);
  }

  [data-bubble="33"] {
    top: 1050px;
    left: -100px;
    width: 125px;
    height: 125px;
    background-color: var(--violet);
  }

  [data-bubble="34"] {
    top: 1400px;
    left: 300px;
    width: 75px;
    height: 75px;
    background-color: var(--orange);
  }

  [data-bubble="35"] {
    top: 700px;
    left: -600px;
    width: 100px;
    height: 100px;
    background-color: var(--blue);
  }

  [data-bubble="36"] {
    top: 900px;
    left: 900px;
    width: 75px;
    height: 75px;
    background-color: var(--violet);
  }

  [data-bubble="37"] {
    top: 50px;
    left: 500px;
    width: 125px;
    height: 125px;
    background-color: var(--green);
  }

  [data-bubble="38"] {
    top: 500px;
    left: 530px;
    width: 100px;
    height: 100px;
    background-color: var(--violet);
  }

  [data-bubble="39"] {
    top: 450px;
    left: 150px;
    width: 75px;
    height: 75px;
    background-color: var(--orange);
  }

  [data-bubble="40"] {
    top: 200px;
    left: -100px;
    width: 150px;
    height: 150px;
    background-color: var(--green);
  }

  [data-bubble="41"] {
    top: 10px;
    left: -550px;
    width: 75px;
    height: 75px;
    background-color: var(--green);
  }

  [data-bubble="42"] {
    top: 600px;
    left: -200px;
    width: 125px;
    height: 125px;
    background-color: var(--blue);
  }

  [data-bubble="43"] {
    top: 250px;
    left: 400px;
    width: 75px;
    height: 75px;
    background-color: var(--blue);
  }

  [data-bubble="44"] {
    top: -80px;
    left: -20px;
    width: 100px;
    height: 100px;
    background-color: var(--yellow);
  }

  [data-bubble="45"] {
    top: 1600px;
    left: 50px;
    width: 150px;
    height: 150px;
    background-color: var(--blue);
  }

  [data-bubble="46"] {
    top: 1700px;
    left: 400px;
    width: 100px;
    height: 100px;
    background-color: var(--yellow);
  }

  [data-bubble="47"] {
    top: 100px;
    left: 900px;
    width: 125px;
    height: 125px;
    background-color: var(--green);
  }

  [data-bubble="48"] {
    top: 450px;
    left: -600px;
    width: 100px;
    height: 100px;
    background-color: var(--violet);
  }
}
