.icon {
  display: block;
  line-height: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s linear;
  }

  svg {
    width: 24px;
    height: 24px;

    @include min-width(lg) {
      width: 28px;
      height: 28px;
    }
  }

  &-linkedin {
    --blue: #0073b1;

    &:hover,
    &:focus,
    &:active {
      color: var(--blue);
    }
  }

  &-twitter {
    --blue: #1da1f2;

    &:hover,
    &:focus,
    &:active {
      color: var(--blue);
    }
  }

  &-facebook {
    --blue: #1877f2;

    &:hover,
    &:focus,
    &:active {
      color: var(--blue);
    }
  }

  &-instagram {
    --pink: #b900b4;

    &:hover,
    &:focus,
    &:active {
      color: var(--pink);
    }
  }

  &-github {
    --blue: #0366d6;

    &:hover,
    &:focus,
    &:active {
      color: var(--blue);
    }
  }

  &-mail {
    &:hover,
    &:focus,
    &:active {
      color: var(--gray);
    }
  }
}
