@use "../abstracts/variables" as *;

.link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.5rem;

  &::after {
    --scale: 1;

    position: relative;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' /%3E%3C/svg%3E");
    transform: scale(var(--scale));

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.15s linear;
    }

    @media (min-width: $xl) {
      font-size: 1.5rem;
    }
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      transform: scale(var(--scale)) translateX(0.25em);
    }
  }

  &-back {
    flex-direction: row-reverse;

    &::after {
      --scale: -1;
    }
  }
}
