.bubbles {
  position: relative;
  z-index: 0;
  inline-size: 540px;
  margin-inline: auto;

  & [data-bubble-group] {
    position: absolute;
  }

  & [data-bubble-group="1"] {
    z-index: 1;
  }

  & [data-bubble-group="2"] {
    z-index: 2;
  }

  & [data-bubble-group="3"] {
    z-index: 3;
  }

  & [data-bubble-group="4"] {
    z-index: 4;
  }

  & [data-bubble] {
    position: absolute;
    border-radius: 50%;
    opacity: 0.75;
  }

  & [data-bubble="1"] {
    inset: 20px auto auto -200px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--violet);
  }

  & [data-bubble="2"] {
    inset: 200px auto auto 720px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--yellow);
  }

  & [data-bubble="3"] {
    inset: 450px auto auto -50px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--yellow);
  }

  & [data-bubble="4"] {
    inset: 200px auto auto -450px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--blue);
  }

  & [data-bubble="5"] {
    inset: 100px auto auto 480px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--yellow);
  }

  & [data-bubble="6"] {
    inset: 800px auto auto 700px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--yellow);
  }

  & [data-bubble="7"] {
    inset: 650px auto auto -100px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--orange);
  }

  & [data-bubble="8"] {
    inset: -20px auto auto 800px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--blue);
  }

  & [data-bubble="9"] {
    inset: 1250px auto auto -100px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--orange);
  }

  & [data-bubble="10"] {
    inset: 1350px auto auto 450px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--blue);
  }

  & [data-bubble="11"] {
    inset: 750px auto auto -600px;
    inline-size: 150px;
    block-size: 150px;
    background-color: var(--yellow);
  }

  & [data-bubble="12"] {
    inset: 900px auto auto 400px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--yellow);
  }

  & [data-bubble="13"] {
    inset: -80px auto auto -350px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--blue);
  }

  & [data-bubble="14"] {
    inset: 800px auto auto 220px;
    inline-size: 150px;
    block-size: 150px;
    background-color: var(--blue);
  }

  & [data-bubble="15"] {
    inset: 100px auto auto 70px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--blue);
  }

  & [data-bubble="16"] {
    inset: 250px auto auto -360px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--violet);
  }

  & [data-bubble="17"] {
    inset: 500px auto auto 700px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--green);
  }

  & [data-bubble="18"] {
    inset: 350px auto auto 300px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--green);
  }

  & [data-bubble="19"] {
    inset: 600px auto auto -400px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--yellow);
  }

  & [data-bubble="20"] {
    inset: 800px auto auto -300px;
    inline-size: 150px;
    block-size: 150px;
    background-color: var(--green);
  }

  & [data-bubble="21"] {
    inset: 1400px auto auto -300px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--yellow);
  }

  & [data-bubble="22"] {
    inset: 1200px auto auto 100px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--green);
  }

  & [data-bubble="23"] {
    inset: 250px auto auto 800px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--blue);
  }

  & [data-bubble="24"] {
    inset: 600px auto auto 900px;
    inline-size: 150px;
    block-size: 150px;
    background-color: var(--blue);
  }

  & [data-bubble="25"] {
    inset: 600px auto auto 300px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--blue);
  }

  & [data-bubble="26"] {
    inset: 80px auto auto 300px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--violet);
  }

  & [data-bubble="27"] {
    inset: 1000px auto auto 100px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--yellow);
  }

  & [data-bubble="28"] {
    inset: 1100px auto auto 360px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--green);
  }

  & [data-bubble="29"] {
    inset: 750px auto auto 480px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--orange);
  }

  & [data-bubble="30"] {
    inset: 500px auto auto 500px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--orange);
  }

  & [data-bubble="31"] {
    inset: 700px auto auto 150px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--violet);
  }

  & [data-bubble="32"] {
    inset: -110px auto auto 300px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--orange);
  }

  & [data-bubble="33"] {
    inset: 1050px auto auto -100px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--violet);
  }

  & [data-bubble="34"] {
    inset: 1400px auto auto 300px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--orange);
  }

  & [data-bubble="35"] {
    inset: 700px auto auto -600px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--blue);
  }

  & [data-bubble="36"] {
    inset: 900px auto auto 900px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--violet);
  }

  & [data-bubble="37"] {
    inset: 50px auto auto 500px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--green);
  }

  & [data-bubble="38"] {
    inset: 500px auto auto 530px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--violet);
  }

  & [data-bubble="39"] {
    inset: 450px auto auto 150px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--orange);
  }

  & [data-bubble="40"] {
    inset: 200px auto auto -100px;
    inline-size: 150px;
    block-size: 150px;
    background-color: var(--green);
  }

  & [data-bubble="41"] {
    inset: 10px auto auto -550px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--green);
  }

  & [data-bubble="42"] {
    inset: 600px auto auto -200px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--blue);
  }

  & [data-bubble="43"] {
    inset: 250px auto auto 400px;
    inline-size: 75px;
    block-size: 75px;
    background-color: var(--blue);
  }

  & [data-bubble="44"] {
    inset: -80px auto auto -20px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--yellow);
  }

  & [data-bubble="45"] {
    inset: 1600px auto auto 50px;
    inline-size: 150px;
    block-size: 150px;
    background-color: var(--blue);
  }

  & [data-bubble="46"] {
    inset: 1700px auto auto 400px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--yellow);
  }

  & [data-bubble="47"] {
    inset: 100px auto auto 900px;
    inline-size: 125px;
    block-size: 125px;
    background-color: var(--green);
  }

  & [data-bubble="48"] {
    inset: 450px auto auto -600px;
    inline-size: 100px;
    block-size: 100px;
    background-color: var(--violet);
  }
}
