.modal {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  visibility: hidden;
  transition: visibility linear;

  @media (--motion-enabled) {
    transition-duration: 0.5s;
  }
}

.modal-button,
.modal-video,
.modal-backdrop {
  opacity: 0;
  transition: opacity ease-in-out;

  @media (--motion-enabled) {
    transition-duration: 0.5s;
  }
}

.modal-button {
  position: absolute;
  inset: 1.5rem 1.5rem auto auto;
  width: 1.5rem;
  height: 1.5rem;
}

.modal-video {
  position: relative;
  width: 100%;
  padding-bottom: calc(9 / 16 * 100%);
  transition-timing-function: ease-in-out;
  transition-property: transform, opacity;
  transform: translateY(1.5rem);

  & video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.modal-backdrop {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: hsl(0deg 0% 0% / 80%);
  backdrop-filter: saturate(180%) blur(20px); /* stylelint-disable-line scss/no-global-function-names */
}

.modal[aria-modal] {
  visibility: visible;

  & .modal-button,
  & .modal-video,
  & .modal-backdrop {
    opacity: 1;
  }

  & .modal-video {
    transform: none;
  }
}
