*,
* ::before,
* ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include min-width(xl) {
    font-size: 1.125rem;
  }
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  display: inline;
  padding: 0;
  margin: 0;
  font: inherit;
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
}

figure {
  margin: 0;
}

video {
  display: block;
  width: 100%;
  height: auto;
}
