:root {
  --dark-violet: #31185a;
  --violet: #9902e8;
  --blue: #00c6ff;
  --green: #01bf24;
  --yellow: #e8ff00;
  --orange: #f48d01;
  --gray: #666;
  --light-gray: #eee;
  --font-family: "Poppins", sans-serif;
}
