:root {
  --dark-violet: hsl(263, 58%, 22%);
  --violet: hsl(279, 98%, 46%);
  --blue: hsl(193, 100%, 50%);
  --green: hsl(131, 99%, 38%);
  --yellow: hsl(65, 100%, 50%);
  --orange: hsl(35, 99%, 48%);
  --black: hsl(0, 0%, 10%);
  --gray: hsl(0, 0%, 40%);
  --light-gray: hsl(0, 0%, 95%);
  --font-family: "Poppins", sans-serif;
}
