@use "../abstracts/variables" as *;

:is(h1, h2, h3, h4, h5, p, ul, ol) {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-block: 3rem 0.5rem;

  @media (min-width: $md) {
    margin-top: 3.5rem;
  }
}

h1,
h2 {
  min-height: 0.000001vh;
}

h1 {
  font-size: clamp(1.875rem, 3vw + 1rem, 2.5rem);
  font-weight: 700;
  line-height: 1.25;
}

h2 {
  font-size: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  font-weight: 600;
  line-height: 1.4;
}

p {
  margin-block: 1rem;
}

ul,
ol {
  padding-left: 1.25rem;
  margin-block: 2rem;
}

li + li {
  margin-top: 0.5rem;
}
