*,
* ::before,
* ::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: clamp(1rem, 0.8906rem + 0.3125vw, 1.125rem);
  line-height: 1.5;
  color: var(--black);
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  all: unset;
  cursor: pointer;
  outline: revert;
}

figure {
  margin: 0;
}

video {
  display: block;
  inline-size: 100%;
  block-size: auto;
}
