h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0;
}

h1 {
  font-size: clamp(1.875rem, 3vw + 1rem, 2.5rem);
  font-weight: 700;
  line-height: 1.25;
}

h2 {
  font-size: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  font-weight: 600;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  &:not(:first-child) {
    margin-top: 3rem;

    @media (--viewport-md) {
      margin-top: 3.5rem;
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

ul,
ol {
  padding-left: 1.25rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}
