.container {
  padding: 0 48px;

  @include media-breakpoint-down(md) {
    padding: 0 24px;
  }
}

.row {
  margin: 0 -24px;

  @include media-breakpoint-down(md) {
    margin: 0 -12px;
  }
}

[class*="col-"] {
  padding: 0 24px;

  @include media-breakpoint-down(md) {
    padding: 0 12px;
  }
}
