---
layout: layouts/home.njk
---

<div class="row">
  <div class="col-lg-4 col-6">
    <a href="/projects/ace-hotel">
      <figure data-aos="fade-up">
        <img src="/images/ace-hotel.png" alt="ACE Hôtel">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/cikaba">
      <figure data-aos="fade-up">
        <img src="/images/cikaba.png" alt="Cikaba">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/easy-snowboards">
      <figure data-aos="fade-up">
        <img src="/images/easy-snowboards.png" alt="Easy Snowboards">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/easybike">
      <figure data-aos="fade-up">
        <img src="/images/easybike.png" alt="Easybike">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/solex">
      <figure data-aos="fade-up">
        <img src="/images/solex.png" alt="Solex">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/matra">
      <figure data-aos="fade-up">
        <img src="/images/matra.png" alt="Matra">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/easybike-group">
      <figure data-aos="fade-up">
        <img src="/images/easybike-group.png" alt="Easybike Group">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/1991">
      <figure data-aos="fade-up">
        <img src="/images/1991.png" alt="19.91">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/hudi">
      <figure data-aos="fade-up">
        <img src="/images/hudi.png" alt="Hudi">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/michelin">
      <figure data-aos="fade-up">
        <img src="/images/michelin.png" alt="Michelin">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/horse-pilot">
      <figure data-aos="fade-up">
        <img src="/images/horse-pilot.png" alt="Horse Pilot">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/midi-life">
      <figure data-aos="fade-up">
        <img src="/images/midi-life.png" alt="Midi Life">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/paips">
      <figure data-aos="fade-up">
        <img src="/images/paips.png" alt="Paips">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/musee-de-la-mine">
      <figure data-aos="fade-up">
        <img src="/images/musee-de-la-mine.png" alt="Musée de la Mine">
      </figure>
    </a>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/projects/arize-leze">
      <figure data-aos="fade-up">
        <img src="/images/arize-leze.png" alt="Arize-Lèze">
      </figure>
    </a>
  </div>
</div>
