
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~thomas/thomas-tuvignon/sites/musee-de-la-mine/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~thomas/thomas-tuvignon/sites/musee-de-la-mine/index.php [L]
</IfModule>

# END WordPress