*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: clamp(1rem, 0.8906rem + 0.3125vw, 1.125rem);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;

  @media (min-resolution: 1.5dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a,
button {
  all: unset;
  cursor: pointer;
  outline: revert;
}

img,
svg {
  display: block;
  block-size: auto;
}

img {
  inline-size: 100%;
}
