h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0;
}

h1 {
  font-size: clamp(1.875rem, 1.3281rem + 1.5625vw, 2.5rem);
  font-weight: 700;
  line-height: 1.25;
}

h2 {
  font-size: clamp(1.25rem, 1.0313rem + 0.625vw, 1.5rem);
  font-weight: 600;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  &:where(:not(:first-child)) {
    margin-block-start: 2.5em;
  }

  &:where(:not(:last-child)) {
    margin-block-end: 1.5em;
  }
}

p {
  &:where(:not(:last-child)) {
    margin-block-end: 1em;
  }

  &:empty {
    display: none;
  }
}

ul,
ol {
  padding-inline-start: 1.25rem;

  &:not(:last-child) {
    margin-block-end: 2em;
  }
}

li:where(:not(:last-child)) {
  margin-block-end: 0.5em;
}
