@custom-media --screen-sm (width >= 560px);
@custom-media --screen-md (width >= 768px);
@custom-media --screen-lg (width >= 1024px);
@custom-media --screen-xl (width >= 1200px);
@custom-media --motion-enabled (prefers-reduced-motion: no-preference);

:root {
  --dark-violet: hsl(263deg 58% 22%);
  --violet: hsl(279deg 98% 46%);
  --blue: hsl(193deg 100% 50%);
  --green: hsl(131deg 99% 38%);
  --yellow: hsl(65deg 100% 50%);
  --orange: hsl(35deg 99% 48%);
  --black: hsl(0deg 0% 10%);
  --gray: hsl(0deg 0% 40%);
  --light-gray: hsl(0deg 0% 95%);
  --font-family: "Poppins", system-ui, sans-serif;
}
