@custom-media --screen-sm (width >= 560px);
@custom-media --screen-md (width >= 768px);
@custom-media --screen-lg (width >= 1024px);
@custom-media --screen-xl (width >= 1200px);
@custom-media --motion-enabled (prefers-reduced-motion: no-preference);

:root {
  --dark-violet: lch(15.189% 43.116 305.27deg);
  --violet: lch(41.091% 108.481 312.901deg);
  --blue: lch(74.488% 48.473 234.464deg);
  --green: lch(68.273% 87.151 136.638deg);
  --yellow: lch(95.995% 94.518 104.809deg);
  --orange: lch(69.342% 81.89 65.528deg);
  --black: lch(9.263% 0 139.088deg);
  --gray: lch(43.192% 0 139.088deg);
  --light-gray: lch(95.494% 0 139.088deg);
  --font-family: "Poppins", system-ui, sans-serif;
}
