@custom-media --screen-sm (width >= 560px);
@custom-media --screen-md (width >= 768px);
@custom-media --screen-lg (width >= 1024px);
@custom-media --screen-xl (width >= 1200px);
@custom-media --color-scheme-dark (prefers-color-scheme: dark);
@custom-media --motion-safe (prefers-reduced-motion: no-preference);

:root {
  --text-color: var(--black);
  --background-color: white;
  --shadow-color: #0000001a;
  --font-family: "Inter var", system-ui, sans-serif;
  --grid-columns-auto-fit: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  --grid-gap: 1.5rem;
  --page-padding-x: clamp(1.5rem, 0.188rem + 3.75vw, 3rem);
  --shadow: 0 0.625rem 2.5rem 0 var(--shadow-color);

  @media (--color-scheme-dark) {
    --text-color: white;
    --background-color: #1e1e1e;
    --shadow-color: #0000002a;
  }
}
