*,
* ::before,
* ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: rem(16);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include min-width(xl) {
    font-size: rem(18);
  }
}

p {
  margin: 0;
}

ul {
  padding-left: rem(20);
  margin: 0;
}

h1 {
  font-size: rem(30);
  font-weight: 700;
  line-height: 1.25;

  @include min-width(md) {
    font-size: rem(40);
  }
}

h2 {
  font-size: rem(20);
  font-weight: 600;
  line-height: 1.4;

  @include min-width(md) {
    font-size: rem(22);
  }

  @include min-width(lg) {
    font-size: rem(24);
  }
}

a {
  text-decoration: none;
}

button {
  display: inline;
  font: inherit;
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}
