---
title: 1991
description: Site one-page de la marque de jeans 19.91.
date: Last Modified
layout: layouts/project.njk
---

<article>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Site de la marque de jeans 19.91</h2>
      <p>Ultrō, 2018</p>
      <ul>
        <li>Webflow : intégration web.</li>
      </ul>
      <a href="http://1991.webflow.io" target="_blank" rel="noopener" class="link-forward">Voir le site web</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <figure data-aos="fade-up">
        <img src="/images/1991-1.jpg" alt="19.91">
      </figure>
    </div>
  </div>
</article>
