---
title: Horse Pilot
description: Site de la marque de vêtements d’équitation Horse Pilot.
date: Last Modified
layout: layouts/project.njk
---

<article>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Landing page Horse Pilot</h2>
      <p>Ultrō, 2018</p>
      <ul>
        <li>Webflow : intégration web.</li>
      </ul>
      <a href="https://www.horsepilot.com/rain-free" target="_blank" rel="noopener" class="link-forward">Voir la page</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <figure data-aos="fade-up">
        <img src="/images/horse-pilot-1.jpg" alt="Horse Pilot">
      </figure>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Agenda Facebook Horse Pilot</h2>
      <p>Ultrō, 2017</p>
      <ul>
        <li>Photoshop : maquette graphique.</li>
        <li>WordPress : développement web.</li>
      </ul>
      <a href="https://www.horsepilot.com/blog/fr/evenement" target="_blank" rel="noopener" class="link-forward">Voir l’agenda</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <figure data-aos="fade-up">
        <img src="/images/horse-pilot-2.jpg" alt="Horse Pilot">
      </figure>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2>Newsletter Horse Pilot</h2>
      <p>Ultrō, 2017</p>
      <ul>
        <li>MailChimp : intégration web.</li>
      </ul>
      <a href="https://www.horsepilot.com/newsletter.html" target="_blank" rel="noopener" class="link-forward">Voir le template</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <figure data-aos="fade-up">
        <img src="/images/horse-pilot-3.jpg" alt="Horse Pilot">
      </figure>
    </div>
  </div>
</article>
