---
title: Matra
description: Site de la marque de vélos Matra.
date: Last Modified
layout: layouts/project.njk
---

<article>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Site de la marque de vélos Matra</h1>
      <p>Ultrō, 2018</p>
      <ul>
        <li>Kirby : développement web.</li>
      </ul>
      <a href="https://matra.com" target="_blank" rel="noopener" class="link-forward">Voir le site web</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <figure data-aos="fade-up">
        <img src="/images/matra-1.jpg">
      </figure>
    </div>
  </div>
</article>
