---
title: Michelin
description: Site de ressources marketing Michelin Brands Center.
date: Last Modified
layout: layouts/project.njk
---

<article>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Site de ressources marketing Michelin Brands Center</h2>
      <p>Ultrō, 2017-2020</p>
      <ul>
        <li>WordPress : saisie de contenu.</li>
        <li>Photoshop : création de vignettes.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <figure data-aos="fade-up">
        <img src="/images/michelin-1.jpg">
      </figure>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Module de téléchargement du site Michelin Brands Center</h2>
      <p>Ultrō, 2018</p>
      <ul>
        <li>Sketch : maquette graphique.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <figure data-aos="fade-up">
        <img src="/images/michelin-2.jpg">
      </figure>
    </div>
  </div>
</article>
