---
title: Musée de la Mine
description: Wireframe, maquette graphique et développement web.
layout: layouts/project.njk
---

<article>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Site du Musée de la Mine de Gréasque</h2>
      <p>Projet tutoré, 2016</p>
      <ul>
        <li>Sketch : wireframe et maquette graphique.</li>
        <li>WordPress : développement web.</li>
      </ul>
      <a href="https://thomastuvignon.com/sites/musee-de-la-mine" target="_blank" rel="noopener" class="link-forward">Voir le site web</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <figure data-aos="fade-up">
        <img src="/images/musee-de-la-mine-1.jpg">
      </figure>
    </div>
    <div class="col-md-4">
      <figure data-aos="fade-up">
        <img src="/images/musee-de-la-mine-2.jpg">
      </figure>
    </div>
  </div>
</article>
