---
title: Paips
description: Application Paips pour sourds et malentendants.
layout: layouts/project.njk
---

<article>
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<h2>Application Paips pour sourds et malentendants</h2>
			<p>Projet d’UX design, 2018</p>
			<ul>
				<li>Sketch : maquette graphique et prototype.</li>
			</ul>
			<a href="https://sketch.cloud/s/12AJy/nM5Y50/play" target="_blank" rel="noopener" class="link">Voir le prototype</a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-sm-6">
			<figure data-aos="fade-up">
				<img src="/images/paips-1.jpg">
			</figure>
		</div>
		<div class="col-lg-4 col-sm-6">
			<figure data-aos="fade-up">
				<img src="/images/paips-2.jpg">
			</figure>
		</div>
		<div class="col-lg-4 col-sm-6">
			<figure data-aos="fade-up">
				<img src="/images/paips-3.jpg">
			</figure>
		</div>
		<div class="col-lg-4 col-sm-6">
			<figure data-aos="fade-up">
				<img src="/images/paips-4.jpg">
			</figure>
		</div>
		<div class="col-lg-4 col-sm-6">
			<figure data-aos="fade-up">
				<img src="/images/paips-5.jpg">
			</figure>
		</div>
		<div class="col-lg-4 col-sm-6">
			<figure data-aos="fade-up">
				<img src="/images/paips-6.jpg">
			</figure>
		</div>
	</div>
</article>
